<h1>MySQL service for <%= @mysql_user.user.full_name %></h1>

<p>
  <b>Databases:</b>
  <%= print_quota @mysql_user.used_databases_total, @mysql_user.max_databases, '' %>
</p>

<p>
  <%= link_to (image_tag 'icons/icontexto-webdev-config-032x032.png', :alt => '', :class => 'action') + 'Edit',
              :controller => 'mysql_users', :action => 'edit', :id => @mysql_user.to_param %><br/>
  <%= link_to (image_tag 'icons/icontexto-webdev-arrow-left-032x032.png', :alt => '', :class => 'action') + 'Back', @mysql_user.user %>
</p>

